/* Personnalisation */
body {
    scroll-behavior: smooth;
}

.text-red-600 {
    color: #D2331B;
}

.border-red-600 {
    border-color: #D2331B;
}

.hover\:border-red-600:hover {
    border-color: #D2331B;
}
